* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.jumbotron {
  background-image: url(/images/ghanapic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  font-size: xx-large;
}

.lead {
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#introP {
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}

#introLine {
  color: rgb(68, 28, 28);
  font-weight: 500;
}

#description {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  border: 20px solid white;
  padding: 50px;
  margin: 0px;
}

#colForm {
  background-color: lightblue;
  width: 100%;
  border: 0px solid blue;
  padding: 10px;
  margin: 0px;
}

#CustomSelectGender,
.form-control {
  margin: auto;
  border: 2px solid #1073d0;
  font-size: 15px;
  padding: 5px;
}


#submitbtn:hover {
    background-color:#002ead;
    transition: 0.7s;
}

#refreshbtn:hover {
  background-color:#002ead;
  transition: 0.7s;
}
.akanNameResult {
  color: brown;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
}
.errors {
  color: red;
}
